.widget {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 12px;
  color: var(--ring-secondary-color);
}

.favorite-active {
  & svg {
    color: var(--ring-icon-highlight-color) !important;
  }
}

.favorite-inactive {
  & svg {
    color: var(--ring-secondary-color) !important;
  }
}
