.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.contentTextarea textarea {
    overflow-y: auto;
    min-height: calc(var(--ring-unit) * 7.75);
    max-height: calc(var(--ring-unit) * 40);
}

.tableSelect {
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.favorite-active {
  color: var(--ring-icon-highlight-color) !important;
}

.favorite-inactive {
  color: var(--ring-secondary-color) !important;
}

.tableSelect button,
.tableSelect span,
.authorSelect button,
.authorSelect span {
    max-width: 100%;
    overflow: hidden !important;
    white-space: nowrap;
}

.authorSelect {
    max-width: 250px;
}

.searchInput {
    width: 300px;
}

.templateTable table {
    table-layout: fixed;
    width: 100%;
}

.templateTable td {
    vertical-align: middle !important;
}

.nameWrapper {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    max-width: 300px !important;
    min-width: 0 !important;
    overflow: hidden !important;
}

.nameText {
    display: block !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    flex-shrink: 1 !important;
    min-width: 0 !important;
}

.nameIcon {
    flex-shrink: 0;
    margin-left: var(--ring-unit);
}

.removeOption {
  color: var(--ring-error-color) !important;

  & svg {
    color: var(--ring-error-color) !important;
  }
}