.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.contentTextarea textarea {
    overflow-y: auto;
    min-height: calc(var(--ring-unit) * 7.75);
    max-height: calc(var(--ring-unit) * 40);
}

.tableSelect {
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.favorite-active {
  color: var(--ring-icon-highlight-color) !important;
}

.favorite-inactive {
  color: var(--ring-secondary-color) !important;
}

.tableSelect button,
.tableSelect span,
.authorSelect button,
.authorSelect span {
    max-width: 100%;
    overflow: hidden !important;
    white-space: nowrap;
}

.authorSelect {
    max-width: 250px;
}